//   ========================================================================
//   #HIDDEN-VISUALLY
//   ======================================================================== */

// Taken from https://github.com/inuitcss/inuitcss/blob/develop/tools/_tools.hidden.scss
// Should be removed after we upgrade to Inuit v1.0

// Mixin to quickly apply accessible hiding to elements.
@mixin inuit-hidden-visually() {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}
