<div class="dropdown js-account-selector-dropdown">
  <button class="pc-btn pc-btn--tiny pc-btn--toggle js-account-selector-btn" type="button" data-toggle="dropdown">
    2 Accounts
    <div class="pc-toggle pc-toggle--caret pc-toggle--caret-white pc-toggle--tiny"></div>
  </button>
  <ul class="menu menu--vertical menu--bordered menu--tiny js-account-selector-menu">
    <li class="menu__item menu__item--box menu__header">
      <input type="checkbox" class="js-checkbox-all pc-u-mr--">All Accounts
    </li>
    <li class="menu__item menu__item--accounts-list">
          <ul class="menu js-account-group">
            <li class="menu__item menu__item--box menu__item--group">
              <label><input type="checkbox" class="js-checkbox-group pc-u-mr--" value="Taxable">Taxable</label>
            </li>
            <li class="menu__item menu__item--box" data-useraccountid="8385493">
              <label class="selectable-account" data-hj-masked="">
                <span class="selectable-account__checkbox">
                  <input type="checkbox" class="uaid8385493 js-checkbox-account " value="8385493">
                </span>
                <span class="selectable-account__body">
                    <span class="selectable-account__name">fid</span>
                    <span class="selectable-account__info">Annuity - Taxable / Non-Qualified</span>
                  </span>
              </label>
            </li>
            <li class="menu__item menu__item--box" data-useraccountid="8389189">
              <label class="selectable-account" data-hj-masked="">
                <span class="selectable-account__checkbox">
                  <input type="checkbox" class="uaid8389189 js-checkbox-account " value="8389189">
                </span>
                <span class="selectable-account__body">
                    <span class="selectable-account__name">kjhkh</span>
                    <span class="selectable-account__info">Custodial - Custodial UTMA</span>
                  </span>
              </label>
            </li>
            <li class="menu__item menu__item--box" data-useraccountid="8385683">
              <label class="selectable-account" data-hj-masked="">
                <span class="selectable-account__checkbox">
                  <input type="checkbox" class="uaid8385683 js-checkbox-account " value="8385683">
                </span>
                <span class="selectable-account__body">
                    <span class="selectable-account__name">Essa Bank &amp; Trust</span>
                    <span class="selectable-account__info">Employee Stock Options</span>
                  </span>
              </label>
            </li>
            <li class="menu__item menu__item--box" data-useraccountid="8385684">
              <label class="selectable-account" data-hj-masked="">
                <span class="selectable-account__checkbox">
                  <input type="checkbox" class="uaid8385684 js-checkbox-account " value="8385684">
                </span>
                <span class="selectable-account__body">
                    <span class="selectable-account__name">ESL FCU</span>
                    <span class="selectable-account__info">Employee Stock Purchase Plan</span>
                  </span>
              </label>
            </li>
            <li class="menu__item menu__item--box" data-useraccountid="8400323">
              <label class="selectable-account" data-hj-masked="">
                <span class="selectable-account__checkbox">
                  <input type="checkbox" class="uaid8400323 js-checkbox-account " value="8400323">
                </span>
                <span class="selectable-account__body">
                    <span class="selectable-account__name">5</span>
                    <span class="selectable-account__info">Investment</span>
                  </span>
              </label>
            </li>
            <li class="menu__item menu__item--box" data-useraccountid="8391133">
              <label class="selectable-account" data-hj-masked="">
                <span class="selectable-account__checkbox">
                  <input type="checkbox" class="uaid8391133 js-checkbox-account " value="8391133">
                </span>
                <span class="selectable-account__body">
                    <span class="selectable-account__name">ADP Retirement Services - 401k</span>
                    <span class="selectable-account__info">Investment</span>
                  </span>
              </label>
            </li>
            <li class="menu__item menu__item--box" data-useraccountid="4223">
              <label class="selectable-account" data-hj-masked="">
                <span class="selectable-account__checkbox">
                  <input type="checkbox" class="uaid4223 js-checkbox-account " value="4223">
                </span>
                <span class="selectable-account__body">
                    <span class="selectable-account__name">American Funds</span>
                    <span class="selectable-account__info">Investment</span>
                  </span>
              </label>
            </li>
            <li class="menu__item menu__item--box" data-useraccountid="8398102">
              <label class="selectable-account" data-hj-masked="">
                <span class="selectable-account__checkbox">
                  <input type="checkbox" class="uaid8398102 js-checkbox-account " value="8398102">
                </span>
                <span class="selectable-account__body">
                    <span class="selectable-account__name">ira</span>
                    <span class="selectable-account__info">Retirement - Traditional IRA</span>
                  </span>
              </label>
            </li>
            <li class="menu__item menu__item--box" data-useraccountid="8392411">
              <label class="selectable-account" data-hj-masked="">
                <span class="selectable-account__checkbox">
                  <input type="checkbox" class="uaid8392411 js-checkbox-account " value="8392411">
                </span>
                <span class="selectable-account__body">
                    <span class="selectable-account__name">ita</span>
                    <span class="selectable-account__info">Retirement - Traditional IRA</span>
                  </span>
              </label>
            </li>
            <li class="menu__item menu__item--box" data-useraccountid="8407879">
              <label class="selectable-account" data-hj-masked="">
                <span class="selectable-account__checkbox">
                  <input type="checkbox" class="uaid8407879 js-checkbox-account " value="8407879">
                </span>
                <span class="selectable-account__body">
                    <span class="selectable-account__name">retirement</span>
                    <span class="selectable-account__info">Retirement - Traditional IRA</span>
                  </span>
              </label>
            </li>
          </ul>
          <ul class="menu js-account-group">
            <li class="menu__item menu__item--box menu__item--group">
              <label><input type="checkbox" class="js-checkbox-group pc-u-mr--" value="Non-Taxable">Non-Taxable</label>
            </li>
            <li class="menu__item menu__item--box" data-useraccountid="16239">
              <label class="selectable-account" data-hj-masked="">
                <span class="selectable-account__checkbox">
                  <input type="checkbox" class="uaid16239 js-checkbox-account " value="16239">
                </span>
                <span class="selectable-account__body">
                    <span class="selectable-account__name">Stock Options - Investment</span>
                    <span class="selectable-account__info">Investment</span>
                  </span>
              </label>
            </li>
            <li class="menu__item menu__item--box" data-useraccountid="28523">
              <label class="selectable-account" data-hj-masked="">
                <span class="selectable-account__checkbox">
                  <input type="checkbox" class="uaid28523 js-checkbox-account js-checkbox-on-us" checked="checked" value="28523">
                </span>
                <span class="selectable-account__body">
                    <span class="selectable-account__name">Personal Capital1</span>
                    <span class="selectable-account__info">Shawn Parent RO IRA</span>
                  </span>
              </label>
            </li>
            <li class="menu__item menu__item--box" data-useraccountid="28524">
              <label class="selectable-account" data-hj-masked="">
                <span class="selectable-account__checkbox">
                  <input type="checkbox" class="uaid28524 js-checkbox-account js-checkbox-on-us" checked="checked" value="28524">
                </span>
                <span class="selectable-account__body">
                    <span class="selectable-account__name">Personal Capital1</span>
                    <span class="selectable-account__info">Shawn Parent ROTH IRA</span>
                  </span>
              </label>
            </li>
          </ul>
    </li>
    <li class="menu__item menu__item--box menu__footer">
      <label class="onUsToggle pc-account-selector-menu-label pc-u-mb-">
        <input type="checkbox" class="js-checkbox-group-on-us pc-u-mr--" checked>All Personal Capital Accounts
      </label>
      <div class="u-text-center">
        <button class="pc-btn pc-btn--small js-cancel-button">Cancel</button>
        <button class="pc-btn pc-btn--small pc-btn--primary js-done-button">Done</button>
      </div>
    </li>
  </ul>
</div>
