<div class="collapsible {{modifier_class}}">
  <div class="collapsible__heading" role="button" data-toggle="collapse" data-target="#{{modifier_class}}">
    <div class="pc-toggle"></div>
    <h4 class="pc-u-mb0">Collapsible Heading</h4>
  </div>
  <div id="{{modifier_class}}" class="in">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus modi doloremque exercitationem neque, deserunt consequuntur commodi, officiis et vitae aspernatur dolore, quod ratione laborum odio eligendi provident tenetur quo numquam.
    Deserunt eligendi beatae, molestias voluptates incidunt odio explicabo eveniet ex deleniti. Rerum odit at labore voluptates ea animi fuga, quasi doloribus magnam, assumenda, error, accusamus officia possimus excepturi sed illo.
  </div>
</div>
